# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Concordia\6441 Advanced Programming Practices\Codes\SOEN6441.source.adapter-strategy.paquet.2021.4\strategy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
